.like_content_div {
  margin-top: -2rem;
  /* height: 150vh; */
}

.likedVideoDiv {
  margin-left: 1rem;
  overflow: hidden;
}
.video_div_liked {
  color: white;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.dustbinIcon {
  color: #aaaaaa;
}
.thumbnail_img_liked {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .likesssss {
    margin-left: 2rem;
  }
  .likedVideoDiv {
    width: 100%;
    margin-left: 0.1rem;
  }
  .video_contents_liked {
    font-size: 10px;
    margin-left: 1rem;

    width: 50%;
  }
  .dustbinIcon {
    font-size: 18px;
  }
  .thubmnail_div_liked {
    overflow: hidden;
    width: 50%;
  }
  .symbol {
    margin-top: 28px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 800px) {
  .symbol {
    margin-top: 13px;
    margin-left: 10px;
  }
  .likedVideoDiv {
    max-width: 400px;
    margin-left: 1rem;
    overflow: hidden;

    position: relative;
    height: auto;
  }
  .video_div_liked {
    color: white;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    font-size: 12px;
  }
  .thubmnail_div_liked {
    overflow: hidden;
    width: 70%;
  }
  .video_contents_liked {
    font-size: 12px;
    margin-left: 1rem;
    color: #aaaaaa;
    width: 30%;

    font-size: 10px;
  }

  .likesssss {
    margin-left: 13rem;
    width: 80%;
  }
  .dustbinIcon {
    font-size: 24px;
  }
}
