.genre_main {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .img_div_genre{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
  }
  .img{
  overflow: hidden;
  }
  .img_div{
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
  }
  .john{
    width: 100%;
  }
  .john:hover {
    transform: scale(1.3);
    transition: transform ease 0.5s;
  }
}
@media only screen and (min-width: 600px) {
  .img_div_genre{
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    overflow: hidden;
    /* margin-left: 12rem; */
 
  }
  .img{
  overflow: hidden;
  display: flex;
  margin-bottom: 1rem;
  }
  .img_div{
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

  }
  .john:hover {
    transform: scale(1.1);
    transition: transform ease 0.5s;
  }
  
  .john{
    width: 100%;
  }
  .john:hover {
    transform: scale(1.3);
    transition: transform ease 0.5s;
  }
}