.login-div {
  margin: auto;
  width: 80%;
  margin-top: 11rem;
}
::-webkit-input-placeholder {
  color: gray;
}
.text_bold {
  font-weight: bold;
  color:red;
}
.userContent {
  display: flex;
  font-size: 20spx;
  color: #282c3f;
  margin-top: 1rem;
  justify-content: space-between;
}

.signupScreen {
  max-width: 400px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  background-color: white;
}
.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  width: 90%;
  color: black;
  border: 1px solid #b6b6b6;
}

@media only screen and (max-width: 600px) {
  .signupScreen {
    width: 100%;
    padding: 70px 30px 70px 35px;
    margin-left: -2rem;
    margin-right: -2rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    background-color: white;
  }
  .userContent {
    font-size: 17px;
  }
}
.login-btn{
  margin-top: 1.2rem;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  text-align: center;
  border-radius: 0.2vw;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 0.6rem 2rem; 
}
.login-btn:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s ease-in;
}
.input::placeholder {
  color: gray;
  opacity: 1;
}