.leftbar_icons {
  color: #aaaaaa;
  font-size: 30px;
  transition: transform ease 0.2s;
  margin-top: 1rem;
}
.left_div > span {
  text-align: center;
  color: white;
}
.left_bar_text {
  font-weight: 800;
  margin-left: 3rem;
  margin-top: 1.2rem;
  text-decoration: none;
}
.left_div {
  position: fixed;
  margin-left: -1rem;
  /* border: 1px solid white; */
  height: 100vh;
}
.leftBarDivContents {
  padding: 1rem;
  color: white;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .left_div {
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 8vh;
    width: 100%;
    z-index: 1;
    background-color: black;

    justify-content: space-between;
  }
  .left_bar_text {
    display: none;
  }
  .leftbar_icons:hover {
    color: white;
  }
}
