.left_div {
  position: fixed;
  margin-left: -1rem;
  margin-top: 1rem;
  height: 100vh;
}
.leftbar_icons {
  color: #aaaaaa;
  font-size: 30px;
  transition: transform ease 0.2s;
  margin-top: 1rem;
}

.left_bar_text {
  font-weight: 800;
  margin-left: 3rem;
  margin-top: 1.2rem;
  text-decoration: none;
  color: black;
}

.leftBarDivContents {
  padding: 1rem;
  /* color: white; */
  display: flex;
}
@media only screen and (max-width: 600px) {
  .left_div {
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 9vh;
    width: 100%;
    z-index: 99999;
    /* background-color: white; */

    justify-content: space-between;
  }
  .left_bar_text {
    display: none;
  }
  .leftbar_icons {
    position: absolute;
    margin-top: -0.1rem;
    margin: 0px;
    margin-left: -4px;
  }
  .leftbar_icons:hover {
    color: white;
  }
}
