.video {
  position: relative;
  width: 100%;
  margin-left: 3rem;
  width: 55%;
  overflow: hidden;
}

.playvideoIcons {
  color: #aaaaaa;
  font-size: 2rem;
  margin-top: -0.8rem;
}
.likes_controls {
  display: flex;
  cursor: pointer;
}
.likes_controls > div {
  margin: 10px;
  text-align: center;
  right: 0;
}
.numbers {
  margin-top: -10px;
  margin-left: 10px;
}
.like_items {
  display: flex;
}
.image_avatar {
  width: 100%;
  border-radius: 50%;
  max-width: 2.7rem;
  margin-top: 10px;
}
.right_div {
  width: 40%;
  margin-left: 1rem;
  overflow: hidden;
}
/*  */
.video_div_right {
  color: white;
  display: flex;
  max-height: 350px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.video_contents_right {
  font-size: 14px;
  margin-left: 1rem;
  color: #aaaaaa;
}

.thubmnail_div_right {
  overflow: hidden;
  max-width: 40%;
}
.thumbnail_img_right {
  width: 100%;
  margin-top: 1.4rem;
}
