.video {
  position: relative;
  width: 100%;
  margin-left: 3rem;
  width: 55%;
  overflow: hidden;
}

.playvideoIcons {
  color: #aaaaaa;
  font-size: 2rem;
  margin-top: -0.8rem;
}
.likes_controls {
  display: flex;
  cursor: pointer;
}
.likes_controls > div {
  margin: 10px;
  text-align: center;
  right: 0;
}
.likeButton {
  margin: 0;
  margin-top: -0.4rem;
  margin-right: 2.4rem;
}
.numbers_liked {
  position: absolute;
  margin-left: 7px;
  margin-bottom: -20px;
}
.numbers {
  margin-top: -10px;
  margin-left: 10px;
}
.like_items {
  display: flex;
}
.image_avatar_play {
  width: 100%;
  border-radius: 50%;
  max-width: 2.7rem;
  margin-top: 10px;
}
.right_div {
  width: 40%;
  margin-left: 1rem;
  overflow: hidden;
}
/*  */
.video_div_right {
  margin-top: -1rem;
  color: white;
  display: flex;
  max-height: 350px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.video_contents_right {
  font-size: 14px;
  margin-left: 1rem;
  color: #aaaaaa;
}

.thubmnail_div_right {
  overflow: hidden;
  max-width: 40%;
}
.thumbnail_img_right {
  width: 100%;
  margin-top: 1.4rem;
}
.div2 {
  display: flex;
  margin-top: 7rem;
}
.view_years {
  display: flex;
  justify-content: space-between;
}
.videoPlayingScreen {
  width: 100%;
  height: 450px;
}
@media only screen and (max-width: 600px) {
  .div2 {
    display: flex;
    flex-direction: column;
  }
  .video {
    position: relative;
    width: 100%;
    margin-left: 0.1rem;
    overflow: hidden;
  }
  .viewsyears {
    font-size: 12px;
  }
  .playvideoIcons {
    font-size: 1.5rem;
  }
  .view_years {
    display: flex;
    flex-direction: column;
  }
  .likes_controls {
    margin-top: 1rem;
  }
  .like_items {
    margin-left: 2rem;
  }
  .right_div {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0.1rem;
  }
  .videoPlayingScreen {
    width: 100%;
    height: 210px;
  }
  .image_avatar_play {
    width: 100%;
    border-radius: 50%;
    max-width: 2rem;
  }
  .artist__name {
    margin-top: 15px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .artist__name {
    margin-top: 20px;
    margin-left: 10px;
  }
}
