.toast-message {
  color: white;
}
@media only screen and (min-width: 600px) {
  .toast-div {
    position: fixed;
    bottom: 0;
    margin-bottom: 0.2rem;
    width: 15rem;
    background-color: #323232;
    padding: 1rem;
    z-index: 11111;
    transition: all 0.5s ease-in-out;
  }
}
@media only screen and (max-width: 600px) {
  .toast-div {
    position: fixed;
    bottom: 0;
    margin-bottom: 5rem;
    width: 15rem;
    background-color: #323232;
    padding: 1rem;
    z-index: 11111;
    transition: all 0.5s ease-in-out;
  }
}
