.mainvideodiv {
  margin-left: 14rem;
  height: 250px;
}
.video_div {
  color: white;
  display: flex;
  max-height: 350px;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}

.video_contents {
  font-size: 14px;
  margin-left: 2rem;
}
.display_video_iframe {
  border: 0;
}
.thubmnail_div {
  overflow: hidden;
  width: 30%;
}
.thumbnail_img {
  width: 100%;
  margin-top: 1rem;
  margin-left: 2rem;
}
.main_display_div {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.para {
  margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
  .main_display_div {
    width: 97%;
    overflow: hidden;
  }
  .mainvideodiv {
    width: 100%;
    margin-left: -0.1rem;
    margin-bottom: 2rem;
  }
  .thubmnail_div {
    width: 100%;
  }
  .thumbnail_img {
    width: 110%;
    margin-left: -0.1rem;
    margin-top: -0.1rem;
  }
  .video_contents {
    font-size: 7px;
    margin-left: 0.4rem;
  }
  .image_avatar_display {
    width: 100%;
    border-radius: 50%;
    max-width: 2rem;
    margin-top: 10px;
  }
  .para {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .thubmnail_div {
    width: 50%;
  }
  .thumbnail_img {
    width: 100%;
    margin: 0;
  }
  .video_contents {
    font-size: 12px;
    margin-left: 2rem;
    width: 70%;
    margin-top: -1rem;
  }
  .video_div {
    margin-left: -5rem;
    margin-top: 1rem;
  }
  .image_avatar_display {
    width: 100%;
    border-radius: 50%;
    max-width: 2.7rem;
    margin-top: 10px;
  }
}
