@media only screen and (max-width: 600px) {
  .ds_video_content {
    margin-bottom: 1rem;
  }
  .ds_img {
    width: 100%;
    cursor: pointer;
  }
  .ds_titles_views_avatar {
    display: flex;
  }
  .ds_avatar_img {
    border-radius: 50%;
    width: 2.5rem;
  }
  .ds_title_views {
    margin-left: 1rem;
    font-size: 12px;
  }
  .ds_name {
    font-weight: bold;
  }
  .ds_views {
    color: #aaaaaa;
  }
}
@media only screen and (min-width: 600px) {
  .ds_video_content {
    display: flex;
    /* border: 1px solid white; */
    width: 80%;
    margin: auto;
    margin-left: 14rem;
    position: relative;
    margin-bottom: 1rem;
  }
  .ds_img {
    width: 100%;
    max-width: 400px;
    cursor: pointer;
  }
  .ds_name {
    font-weight: bold;
  }
  .ds_views {
    color: #aaaaaa;
  }
  .ds_avatar_img {
    border-radius: 50%;
    width: 2.5rem;
    position: absolute;
    margin-top: 7rem;
    margin-left: 1rem;
  }
  .ds_name_div {
    margin-left: 1rem;
  }
  .ds_views_div {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .ds_artist_div {
    margin-left: 4rem;
    margin-top: 3.5rem;
  }
  .ds_artist {
    font-weight: 800;
    font-size: 12px;
  }
}
@media only screen and (max-width: 992px) {
  .ds_artist_div {
    margin-left: 4rem;
    margin-top: 2.4rem;
  }
}
