@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  /* background-color: #141414; */
  color: #fff;
}
.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

body {
  margin: 0;
  padding: 0;
}
.App {
  margin-top: -1rem;
  overflow: hidden;
  height:100%
}
